
<!-- <h1>Magnet Board</h1> -->
<form action="/" method="POST" enctype="multipart/form-data">
  <fieldset>
    <legend>Add a picture to the magnet board!</legend>

    URL:
    <input type="text" name="url"><br>
    <input type="file" name="some_file"><br />
    <input type="submit"><br>

  </fieldset>
</form>

<img id="arrow_up" class="arrow" src="http://upload.wikimedia.org/wikipedia/commons/c/c5/Red_Arrow_Up.png">
<img id="arrow_down" class="arrow" style="top: 140px" src="http://sambrief.files.wordpress.com/2011/12/600px-red_arrow_up-svg.png">


<div id="magnets"></div>

<hr class="verticalLine" width="1" size="500">

<script>


  $.get('/', function(magnets) {


    console.log(magnets);
    var length = magnets.length;
    for(var i = 0; i < length; i++){
      renderMagnet(magnets[i]);
    }

  });

</script>










