/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.arrow {
  position: absolute;
  top: 200px;
  max-width: 50px;
  max-height: 60px;
}

.border {
  border: solid;
}

.magnet {
  position: absolute;
  z-index: -1;
  max-width: 400px;
  max-height: 400px;
  -webkit-transform: scale(1);
}

body {
/*  padding: 0;
  margin: 0;*/
}
body.transform {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

.addpic {
  z-index: 10;
}

.shrunk {

  -webkit-transform: scale(0.3);

}

.verticalLine {
    border-left: thick solid black;
    position: absolute;
    left: 175px;
    top: 120px;
}